/*
Theme Name: Wealth Know How
Theme URI: -
Author: Made Murti
Author URI: http://dev.starinvasion.com
Description: WP theme for WKH blog
Version: 1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: wkhblog
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.


Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/*--------------------------------------------------------------
CSS Reset and WP basic styles
--------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box;
}
body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
blockquote {
  margin: 0 1.5em;
  quotes: "" "";
}
blockquote:before,
blockquote:after {
  content: "";
}
q {
  margin: 0 1.5em;
  quotes: "" "";
}
q:before,
q:after {
  content: "";
}
a {
  color: royalblue;
}
a:visited {
  color: purple;
}
a:hover,
a:focus,
a:active {
  color: midnightblue;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
a img {
  border: 0;
}
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}
p {
  margin-bottom: 1.5em;
}
b,
strong {
  font-weight: bold;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}
small {
  font-size: 75%;
}
big {
  font-size: 125%;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
ul,
ol {
  margin: 0 0 1.5em 3em;
}
ul {
  list-style: disc;
}
ul > ul,
ul > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}
ol {
  list-style: decimal;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}
figure {
  margin: 0;
}
table {
  margin: 0 0 1.5em;
  width: 100%;
}
th {
  font-weight: bold;
}
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%;
}
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
}
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
.main-navigation ul ul ul li:hover > ul {
  left: 100%;
}
.main-navigation ul ul a {
  width: 200px;
}
.main-navigation ul ul li:hover > ul {
  left: auto;
}
.main-navigation li {
  float: left;
  position: relative;
}
.main-navigation a {
  display: block;
  text-decoration: none;
}
.menu-toggle {
  display: none;
}
@media screen and (max-width: 600px) {
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }
  .main-navigation ul {
    display: none;
  }
}
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: '';
  display: table;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}
.widget {
  margin: 0 0 1.5em;
}
.widget select {
  max-width: 100%;
}
.widget_search .search-submit {
  display: none;
}
.sticky {
  display: block;
}
.hentry {
  margin: 0 0 1.5em;
}
.byline,
.updated:not(.published) {
  display: none;
}
.single .byline,
.group-blog .byline {
  display: inline;
}
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}
.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}
.infinity-end.neverending .site-footer {
  display: block;
}
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
embed,
iframe,
object {
  max-width: 100%;
}
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}
.wp-caption-text {
  text-align: center;
}
.gallery {
  margin-bottom: 1.5em;
}
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-caption {
  display: block;
}
/*
 Variables
 --------------------------------------------------
*/
/* Global values
 --------------------------------------------------
*/
/* Main colors
 -------------------------
*/
/* Typography
 -------------------------
*/
/*-------------------------------------------------------------
General Style
--------------------------------------------------------------*/
body {
  background: #f2f2f2;
  color: #373738;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}
a {
  color: #3dc0f1;
  font-weight: 600;
  transition: all 0.15s linear;
}
a:hover,
a:focus,
a:visited {
  color: #3dc0f1;
}
a:hover {
  opacity: 0.6;
  text-decoration: none;
}
a.no-opaque:hover {
  opacity: 1;
}
.pdf-file {
  background: url(images/pdf-icon.png) no-repeat;
  display: inline-block;
  line-height: 32px;
  padding-left: 40px;
}
/*--------------------------------------------------------------
General Layout
--------------------------------------------------------------*/
.container-940 {
  max-width: 940px;
}
@media screen and (min-width: 1024px) {
  .pseudo-sidebar {
    background: #EDEDED;
    width: 25%;
    position: absolute;
    left: 0;
    top: -73px;
    z-index: -1;
  }
}
/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.site-header {
  background: #3dc0f1;
  padding: 20px 0;
}
.site-header .search-form {
  float: left;
}
.site-branding {
  float: left;
}
.search-form .search-field {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  color: #b6b7b5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 200;
  height: 31px;
  padding: 1px 13px;
  width: 241px;
}
.search-form .search-submit {
  background: url(images/sprites.png) no-repeat 0 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 33px;
  padding: 0;
  text-indent: -9999em;
  width: 34px;
}
.search-form .search-submit:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.search-link-mobile {
  background: url(images/sprites.png) no-repeat 0 -240px;
  display: none;
  height: 33px;
  width: 34px;
}
.site-title {
  left: 35px;
  position: absolute;
  top: 20px;
}
.site-title a {
  background: url(images/wkh-logo.png) no-repeat left center;
  color: #FFF;
  font-size: 26px;
  font-weight: 300;
  line-height: 33px;
  padding-left: 51px;
  text-transform: uppercase;
}
.site-title a:hover,
.site-title a:focus {
  text-decoration: none;
}
.admin-bar .site-title {
  top: 52px;
}
.header-custom-link {
  color: #FFF;
  font-size: 22px;
  font-weight: 300;
  height: 33px;
  line-height: 33px;
  margin-left: 12px;
  text-align: center;
  width: 98px;
}
a.header-custom-link {
  color: #FFF;
}
.login-link {
  background: #2f92b8;
}
.join-link {
  background: #9cc35c;
}
.mobile-menu-btn {
  background: url(images/sprites.png) no-repeat 0 -300px;
  display: none;
  float: left;
  height: 30px;
  text-indent: -999em;
  width: 10%;
}
a.login-link-mobile {
  background: url(images/sprites.png) no-repeat 12px -347px;
  color: #5b5e60;
  display: none;
  font-size: 25px;
  font-weight: 300;
  padding: 8px 0 8px 53px;
}
/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-footer {
  background: #FFF;
  color: #68696c;
  font-size: 14px;
  font-weight: 500;
  padding: 13px 0;
}
.footer-link {
  margin-bottom: 5px;
}
.footer-link a {
  color: #68696c;
  font-weight: 500;
}
.footer-link .sep {
  margin: 0 7px;
}
.social-media a {
  line-height: 45px;
  margin-left: 5px;
}
.footer-mobile {
  display: none;
}
/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
.site-content {
  padding-top: 35px;
}
.hentry {
  background: #FFF;
  -webkit-box-shadow: 0px 4px 2px #e5e5e5;
  -moz-box-shadow: 0px 4px 2px #e5e5e5;
  box-shadow: 0px 4px 2px #e5e5e5;
  margin-bottom: 15px;
  padding: 20px 25px;
}
.entry-title {
  color: #3dc0f1;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.2em;
}
.posted-on a {
  color: #a9a9a9;
  font-size: 18px;
  font-weight: 300;
}
/*--------------------------------------------------------------
Blog
--------------------------------------------------------------*/
.site-content {
  position: relative;
}
.content-area {
  width: 74.256%;
}
.widget-area {
  background: #ededed;
  bottom: 0;
  left: 0;
  padding: 35px 35px 0;
  position: absolute;
  top: 0;
  width: 290px;
}
.moretag {
  display: block;
}
.moretag .arrow {
  background: url(images/sprites.png) no-repeat 0 -66px;
  display: inline-block;
  margin-left: 2px;
  height: 10px;
  width: 7px;
}
.post-thumbnail {
  margin-bottom: 20px;
  margin-top: -1.2em;
}
.navigation {
  padding: 10px 0 25px;
  text-align: center;
}
.navigation ul {
  margin: 0;
}
.navigation li {
  display: inline;
  list-style: none;
}
.navigation li a {
  color: #373738;
  font-size: 20px;
  font-weight: 300;
  padding: 0 3px 1px;
}
.navigation li.prev,
.navigation li.next {
  margin: 0 20px;
}
.navigation li.prev a,
.navigation li.next a {
  font-weight: 700;
}
.navigation li.active a {
  background: #3dc0f1;
  color: #FFF;
  padding-left: 7px;
  padding-right: 7px;
}
a.blog-link {
  background: #3dc0f1;
  color: #FFF;
  display: block;
  font-size: 20px;
  margin-bottom: 7px;
  padding: 8px 20px;
}
a.blog-link .caret {
  background: url(images/sprites.png) no-repeat 0 -204px;
  border: none;
  margin-left: 0;
  margin-right: 13px;
  height: 20px;
  width: 10px;
}
.category-media-release a.blog-link {
  background: #68696c;
}
a.media-release-link {
  background: #68696c;
  color: #FFF;
  display: block;
  font-size: 20px;
  margin-bottom: 7px;
  padding: 8px 20px;
}
a.media-release-link.single {
  background: #3dc0f1;
}
a.media-release-link .caret {
  background: url(images/sprites.png) no-repeat 0 -204px;
  border: none;
  margin-left: 0;
  margin-right: 13px;
  height: 20px;
  width: 10px;
}
.category-media-release a.media-release-link {
  background: #3dc0f1;
}
.archive-accordion .panel-default {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.archive-accordion .panel-heading-main {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
}
.archive-accordion .panel-heading-main a {
  background: #68696c;
  color: #FFF;
  display: block;
  font-size: 20px;
  padding: 8px 20px;
}
.archive-accordion .panel-heading-main a .caret {
  background: url(images/sprites.png) no-repeat 0 -118px;
  border: none;
  float: right;
  height: 10px;
  margin-top: 12px;
  width: 16px;
}
.archive-accordion .panel-heading-main a.collapsed .caret {
  background-position: 0 -97px;
}
.archive-accordion .panel-body {
  padding: 10px 20px;
}
.archive-accordion.panel-group .panel-heading + .panel-collapse > .panel-body {
  border: none;
}
.archive-year-accordion {
  margin-bottom: 0;
}
.archive-year-accordion .panel-heading {
  background: none;
  border: none;
  padding: 0;
}
.archive-year-accordion .panel-heading a {
  color: #68696c;
  display: block;
  font-size: 20px;
  line-height: 1.3em;
}
.archive-year-accordion .panel-heading a:hover {
  color: #3dc0f1;
  text-decoration: none;
}
.archive-year-accordion .panel-heading a:hover .caret {
  background-position: -24px -148px;
}
.archive-year-accordion .panel-heading a .caret {
  background: url(images/sprites.png) no-repeat 0 -148px;
  border: none;
  height: 10px;
  margin-left: 0;
  margin-right: 10px;
  margin-top: -5px;
  width: 10px;
}
.archive-year-accordion .panel-heading a.collapsed .caret {
  background-position: 0 -173px;
}
.archive-year-accordion .panel-heading a.collapsed:hover .caret {
  background-position: -24px -173px;
}
.archive-year-accordion .panel-body {
  border: none;
  padding: 0;
}
.archive-year-accordion .panel-body ul {
  list-style: none;
  margin: 0 0 10px 20px;
}
.archive-year-accordion .panel-body ul li a {
  color: #68696c;
  font-size: 20px;
  font-weight: 300;
  line-height: 1em;
}
/*--------------------------------------------------------------
Single Post
--------------------------------------------------------------*/
.single .content-area {
  width: 74.256%;
}
.single .widget-area {
  width: 25%;
}
.single .hentry {
  margin-bottom: 30px;
}
.single .tags {
  margin-bottom: 30px;
}
.single .tags a {
  font-weight: 300;
}
.single .share .st-icon {
  display: inline-block;
  height: 33px;
  width: 33px;
}
.single .share .st-icon .stLarge {
  background-image: url(images/share-sprite.png) !important;
}
.single .share .st_facebook_large .stLarge {
  background-position: 0 0;
}
.single .share .st_twitter_large .stLarge {
  background-position: -39px 0;
}
.single .share .st_linkedin_large .stLarge {
  background-position: -79px 0;
}
.single .share .st_googleplus_large .stLarge {
  background-position: -118px 0;
}
.single .share .stButton {
  margin-left: 0;
}
.single .share .share-label {
  font-size: 20px;
  line-height: 33px;
  margin-right: 10px;
}
.single .share-to-email {
  background: url(images/share-sprite.png) -157px 0;
  display: inline-block;
  height: 33px;
  text-indent: -999em;
  vertical-align: top;
  width: 33px;
}
.entry-footer .tags-label {
  font-weight: 700;
}
/*--------------------------------------------------------------
category list
--------------------------------------------------------------*/
.category .content-area {
  width: 74.256%;
}
.category .widget-area {
  width: 25%;
}
/*--------------------------------------------------------------
search result
--------------------------------------------------------------*/
.search-result-wrapper {
  background: #fff;
  -webkit-box-shadow: 0px 4px 2px #e5e5e5;
  -moz-box-shadow: 0px 4px 2px #e5e5e5;
  box-shadow: 0px 4px 2px #e5e5e5;
  margin-bottom: 20px;
  padding-bottom: 40px;
}
.search-result-wrapper .hentry {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.search-result-wrapper .page-header {
  border: none;
  margin: 0;
  padding: 35px 25px 10px;
}
.search-result-wrapper .search-field {
  border-color: #f2f2f2;
  color: #727074;
  border-style: solid;
  border-width: 2px 0 2px 2px;
  height: 27px;
  padding-left: 10px;
  padding-right: 10px;
  width: 97.5%;
}
.search-result-wrapper .search-submit {
  background-position: 0 -240px;
  margin-left: -35px;
}
.search-result-wrapper .search-form {
  margin-bottom: 25px;
}
.search-result-wrapper .page-title {
  font-size: 25px;
  font-weight: 700;
}
.search-result-wrapper .entry-title {
  font-weight: 400;
}
.search-result-wrapper .entry-title a {
  font-weight: 400;
}
.search-result-wrapper .entry-title .search-excerpt {
  font-weight: 600;
}
.search-result-wrapper .entry-summary {
  margin-top: 5px;
}
.search-result-count {
  font-size: 18px;
  margin-bottom: 0;
}
/*--------------------------------------------------------------
page
--------------------------------------------------------------*/
.page .hentry {
  margin-bottom: 45px;
  padding: 35px;
}
@media screen and (max-width: 991px) {
  .container-940 {
    width: 100%;
  }
  .widget-area,
  .content-area {
    float: left;
  }
}
@media screen and (max-width: 960px) {
  .blog .content-area {
    width: 62.256%;
  }
}
@media screen and (max-width: 930px) {
  .site-title {
    position: static;
  }
}
@media screen and (max-width: 830px) {
  .site-title a {
    background: url(images/wkh-logo-m.png) no-repeat;
    display: block;
    height: 26px;
    margin: 0;
    padding-left: 0;
    text-indent: -999em;
    width: 210px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }
  .site {
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    left: 0;
  }
  .site-branding {
    width: 80%;
  }
  .site-title a {
    margin: 0 auto;
  }
  .header-custom-link {
    display: none;
  }
  .mobile-menu-btn {
    display: block;
  }
  .right-wrap {
    width: 10%;
  }
  .site-header .search-form {
    display: none;
  }
  .search-link-mobile {
    display: block;
  }
  .search-result-wrapper .search-field {
    width: 91.5%;
  }
  .search-result-wrapper .page-header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .search-result-wrapper .page-title {
    font-size: 18px;
  }
  .search-result-wrapper .entry-summary {
    font-size: 16px;
  }
  .search-result-wrapper .entry-summary p {
    margin-bottom: 5px;
  }
  .search-result-wrapper .search-form {
    margin-bottom: 10px;
  }
  .search-result-count {
    font-size: 16px;
  }
  .site .site-content {
    padding-top: 15px;
  }
  .site .widget-area {
    bottom: 0;
    left: -270px;
    padding: 0;
    position: fixed;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 0;
    width: 270px;
    z-index: 100;
  }
  .site .content-area {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .site .hentry {
    padding: 20px 20px 0;
  }
  .site .search-result-wrapper .hentry {
    padding-top: 10px;
  }
  .archive-accordion {
    display: none;
  }
  .entry-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .posted-on a {
    font-size: 15px;
  }
  .navigation li.prev {
    margin-left: 0;
  }
  .navigation li.next {
    margin-right: 0;
  }
  .site-footer {
    display: none;
  }
  .footer-mobile {
    border-top: 2px solid #d9d9d9;
    bottom: 0;
    color: #5b5e60;
    display: block;
    font-size: 18px;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: center;
  }
  .footer-mobile a {
    color: #5b5e60;
  }
  .footer-mobile .footer-link {
    margin-bottom: 0;
  }
  .slide-open {
    overflow-x: hidden;
  }
  .slide-open .site {
    left: 270px;
  }
  .slide-open .widget-area {
    -webkit-box-shadow: 1px 0px 5px #bbbbbb;
    -moz-box-shadow: 1px 0px 5px #bbbbbb;
    box-shadow: 1px 0px 5px #bbbbbb;
    left: 0;
  }
  a.login-link-mobile {
    display: block;
  }
  a.blog-link,
  a.media-release-link {
    font-size: 25px;
    font-weight: 400;
  }
  .search-result .mobile-menu-btn,
  .page .mobile-menu-btn {
    display: none;
  }
}
