/*-------------------------------------------------------------
General Style
--------------------------------------------------------------*/
body{
	background: #f2f2f2;
	color: #373738;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}
a{
	color: @color-aqua;
	font-weight: 600;
	transition: all 0.15s linear;
	&:hover,
	&:focus,
	&:visited{
		color: @color-aqua;
	}
	&:hover{
		opacity: 0.6;
		text-decoration: none;
	}
	&.no-opaque:hover{
		opacity: 1;
	}
}
.pdf-file{
	background: url(images/pdf-icon.png) no-repeat;
	display: inline-block;
	line-height: 32px;
	padding-left: 40px;
}

/*--------------------------------------------------------------
General Layout
--------------------------------------------------------------*/
.container-940{
	max-width: 940px;
}
@media screen and (min-width: 1024px) {
  .pseudo-sidebar{
    background: #EDEDED;
    width: 25%;
    position: absolute;
	left: 0;
	top: -73px;
	z-index: -1;
  }
}

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.site-header{
	background: @color-aqua;
	padding: 20px 0;
	.search-form{
		float: left;
	}	
}
.site-branding{
	float: left;
}
.search-form{
	.search-field{
		.border-radius (0);
		border: none;
		color: #b6b7b5;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 20px;	
		font-weight: 200;
		height: 31px;
		padding: 1px 13px;
		width: 241px;
	}
	.search-submit{
		background: url(images/sprites.png) no-repeat 0 0;
		border: none;
		.border-radius (0);
		.box-shadow (none);
		height: 33px;
		padding: 0;
		text-indent: -9999em;
		width: 34px;
		&:hover{
			.box-shadow (none);
		}
	}
}
.search-link-mobile{
	background: url(images/sprites.png) no-repeat 0 -240px;
	display: none;
	height: 33px;
	width: 34px;
}
.site-title {
	left: 35px;
	position: absolute;
	top: 20px;
	a{
		background: url(images/wkh-logo.png) no-repeat left center;
		color: #FFF;
		font-size: 26px;
		font-weight: 300;
		line-height: 33px;
		padding-left: 51px;
		text-transform: uppercase;

		&:hover,
		&:focus{
			text-decoration:none;
		}
	}
}
.admin-bar .site-title{
  top:52px;
}
.header-custom-link{
	color: #FFF;
	font-size: 22px;
	font-weight: 300;
	height: 33px;
	line-height: 33px;
	margin-left: 12px;
	text-align: center;
	width: 98px;
	a&{
		color: #FFF;
	}
}
.login-link{
	background: #2f92b8;
}
.join-link{
	background: #9cc35c;
}
.mobile-menu-btn{
	background: url(images/sprites.png) no-repeat 0 -300px;
	display: none;
	float: left;
	height: 30px;
	text-indent: -999em;
	width: 10%;
}
a.login-link-mobile{
	background: url(images/sprites.png) no-repeat 12px -347px;
	color: #5b5e60;
	display: none;
	font-size: 25px;
	font-weight: 300;
	padding: 8px 0 8px 53px;
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-footer{
	background: #FFF;
	color: #68696c;
	font-size: 14px;
	font-weight: 500;
	padding:13px 0;
}
.footer-link{
	margin-bottom: 5px;
	a{
		color: #68696c;
		font-weight: 500;
	}
	.sep{
		margin: 0 7px;
	}
}
.social-media a{
	line-height: 45px;
	margin-left: 5px;
}
.footer-mobile{
	display: none;
}

/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
.site-content{
	padding-top: 35px;
}
.hentry{
	background: #FFF;
	.box-shadow (0px 4px 2px #e5e5e5);
	margin-bottom: 15px;
	padding: 20px 25px;
}
.entry-title{
	color: @color-aqua;
	font-size: 25px;
	font-weight: 600;	
	line-height: 1.2em;
}
.posted-on a{
	color: #a9a9a9;
	font-size: 18px;
	font-weight: 300;
}

/*--------------------------------------------------------------
Blog
--------------------------------------------------------------*/
.site-content{
	position: relative;
}
.content-area{
	width: 74.256%;
}
.widget-area{
	background: #ededed;
	bottom: 0;
	left: 0;
	padding: 35px 35px 0;
	position: absolute;
	top: 0;
	width: 290px;
}
.moretag{
	display: block;
	.arrow{
		background: url(images/sprites.png) no-repeat 0 -66px;
		display: inline-block;
		margin-left: 2px;;
		height: 10px;
		width: 7px;
	}
}
.post-thumbnail{
	margin-bottom: 20px;
	margin-top: -1.2em;
}
.navigation{
	padding: 10px 0 25px;
	text-align: center;
	ul{
		margin:0;
	}
	li{
		display: inline;
		list-style: none;
		a{
			color: #373738;
			font-size: 20px;
			font-weight: 300;
			padding:0 3px 1px;
		}
		&.prev,
		&.next{
			margin: 0 20px;
			a{
				font-weight: 700;
			}
		}
		&.active{
			a{
				background: @color-aqua;
				color: #FFF;
				padding-left: 7px;
				padding-right: 7px;
			}
		}
	}
}
a.blog-link{
	background: @color-aqua;
	color: #FFF;
	display: block;
	font-size: 20px;
	margin-bottom: 7px;
	padding:8px 20px;
	.caret{
		background: url(images/sprites.png) no-repeat 0 -204px;
		border: none;
		margin-left: 0;
		margin-right: 13px;
		height: 20px;
		width: 10px;
	}
}
.category-media-release a.blog-link{
	background: #68696c;
}
a.media-release-link{
	background: #68696c;
	color: #FFF;
	display: block;
	font-size: 20px;
	margin-bottom: 7px;
	padding:8px 20px;
	&.single{
		background: @color-aqua;
	}
	.caret{
		background: url(images/sprites.png) no-repeat 0 -204px;
		border: none;
		margin-left: 0;
		margin-right: 13px;
		height: 20px;
		width: 10px;
	}
}
.category-media-release a.media-release-link{
	background: @color-aqua;
}
.archive-accordion{
	.panel-default{
		border: none;
		.border-radius (0);
		.box-shadow (none);
	}
	.panel-heading-main{
		.border-radius (0);
		padding: 0;
		a{
			background: #68696c;
			color: #FFF;
			display: block;
			font-size: 20px;
			padding: 8px 20px;
			.caret{
				background: url(images/sprites.png) no-repeat 0 -118px;
				border: none;
				float: right;
				height: 10px;
				margin-top: 12px;
				width: 16px;
			}
			&.collapsed{
				.caret{
					background-position: 0 -97px;
				}
			}
		}
	}
	.panel-body {
		padding: 10px 20px;
	}
	&.panel-group .panel-heading+.panel-collapse>.panel-body{
		border: none
	}
}
.archive-year-accordion{
	margin-bottom: 0;
	.panel-heading{
		background: none;
		border: none;
		padding: 0;
		a{
			color: #68696c;
			display: block;
			font-size: 20px;
			line-height: 1.3em;
			&:hover{
				color: @color-aqua;
				text-decoration: none;
				.caret{
					background-position: -24px -148px;
				}
			}
			.caret{
				background: url(images/sprites.png) no-repeat 0 -148px;
				border: none;
				height: 10px;
				margin-left: 0;
				margin-right: 10px;
				margin-top: -5px;
				width: 10px;
			}
			&.collapsed{
				.caret{
					background-position: 0 -173px;
				}
				&:hover{
					.caret{
						background-position: -24px -173px;
					}
				}
			}
		}
	}
	.panel-body{
		border: none;
		padding: 0;
		ul{
			list-style: none;
			margin: 0 0 10px 20px;

			li a{
				color: #68696c;
				font-size: 20px;
				font-weight: 300;
				line-height: 1em;
			}
		}
	}
}

/*--------------------------------------------------------------
Single Post
--------------------------------------------------------------*/
.single {
	.content-area{
		width: 74.256%;
	}
	.widget-area{
		width: 25%;
	}
	.hentry{
		margin-bottom: 30px;
	}
	.tags{
		margin-bottom: 30px;
		a{
			font-weight: 300;
		}
	}
	.share{
		.st-icon {
			display: inline-block;
			height: 33px;
			width: 33px;
			.stLarge{
				background-image: url(images/share-sprite.png) !important;
			}
		}
		.st_facebook_large .stLarge{
			background-position: 0 0;
		}
		.st_twitter_large .stLarge{
			background-position: -39px 0;
		}
		.st_linkedin_large .stLarge{
			background-position: -79px 0;
		}
		.st_googleplus_large .stLarge{
			background-position: -118px 0;
		}
		.stButton{
			margin-left: 0;
		}
		.share-label{
			font-size: 20px;
			line-height: 33px;
			margin-right: 10px;
		}
	}
	.share-to-email{
		background: url(images/share-sprite.png) -157px 0;
		display: inline-block;
		height: 33px;
		text-indent: -999em;
		vertical-align: top;
		width: 33px;
	}
}
.entry-footer{
	.tags-label{
		font-weight: 700;
	}
}
/*--------------------------------------------------------------
category list
--------------------------------------------------------------*/
.category {
	.content-area{
		width: 74.256%;
	}
	.widget-area{
		width: 25%;
	}
}
/*--------------------------------------------------------------
search result
--------------------------------------------------------------*/
.search-result-wrapper{
	background:#fff;
	.box-shadow (0px 4px 2px #e5e5e5);
	margin-bottom: 20px;
	padding-bottom: 40px;
	.hentry{
		.box-shadow (none);
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.page-header{
		border: none;
		margin: 0;
		padding: 35px 25px 10px;
	}
	.search-field{
		border-color:#f2f2f2;
		color: #727074;
		border-style: solid;
		border-width: 2px 0 2px 2px;
		height: 27px;
		padding-left: 10px;
		padding-right: 10px;
		width: 97.5%;
	}
	.search-submit{
		background-position: 0 -240px;
		margin-left: -35px;
	}
	.search-form{
		margin-bottom: 25px;
	}
	.page-title{
		font-size: 25px;
		font-weight: 700;
	}
	.entry-title{
		font-weight: 400;
		a{
			font-weight: 400;
		}
		.search-excerpt{
			font-weight: 600;
		}
	}
	.entry-summary{
		margin-top: 5px;
	}
}
.search-result-count{
	font-size: 18px;
	margin-bottom: 0;
}
/*--------------------------------------------------------------
page
--------------------------------------------------------------*/
.page .hentry{
	margin-bottom: 45px;
	padding: 35px;	
}