@media screen and (max-width : 991px) {
	.container-940{
		width: 100%;
	}
	.widget-area,
	.content-area{
		float: left;
	}
}
@media screen and (max-width : 960px) {
	.blog .content-area{
		width: 62.256%;
	}
}

@media screen and (max-width : 930px) {
	.site-title {
		position: static;
	}
}

@media screen and (max-width : 830px) {
	.site-title {
		a{
			background: url(images/wkh-logo-m.png) no-repeat;
			display: block;
			height: 26px;
			margin:0;
			padding-left: 0;
			text-indent: -999em;
			width: 210px;
		}
	}
}

@media screen and (max-width : 768px) {
	body{
		font-size: 15px;
	}
	.site{
		.transition(all 0.5s ease);
		position: relative;
		left: 0;
	}
	.site-branding{
		width: 80%;
	}
	.site-title {
		a{
			margin:0 auto;
		}
	}
	.header-custom-link{
		display: none;
	}
	.mobile-menu-btn{
		display: block;
	}
	.right-wrap{
		width: 10%;
	}
	.site-header .search-form{ 
		display: none;
	}
	.search-link-mobile{
		display: block;
	}
	.search-result-wrapper{
		.search-field{
			width: 91.5%;
		}
		.page-header{
			padding-left: 20px;
			padding-right: 20px;
		}
		.page-title{
			font-size: 18px;
		}
		.entry-summary{
			font-size: 16px;
			p{
				margin-bottom: 5px;
			}
		}
		.search-form{
			margin-bottom: 10px;
		}
	}
	.search-result-count{
		font-size: 16px;
	}
	.site{ 
		.site-content{
			padding-top: 15px;
		}
		.widget-area{
			bottom: 0;
			left: -270px;
			padding: 0;
			position: fixed;
			.transition(all 0.5s ease);
			top: 0;
			width: 270px;
			z-index: 100;
		}
		.content-area{
			padding-left: 15px;
			padding-right: 15px;
			width: 100%;
		}
		.hentry{
			padding: 20px 20px 0;
		}
		.search-result-wrapper .hentry{
			padding-top: 10px;
		}
	}
	.archive-accordion{
		display: none;
	}
	.entry-title{
		font-size: 20px;
		margin-bottom: 5px;
	}
	.posted-on a{
		font-size: 15px;
	}
	.navigation{
		li.prev{
			margin-left: 0;
		}
		li.next{
			margin-right: 0;
		}
	}
	.site-footer{
		display: none;
	}
	.footer-mobile{
		border-top: 2px solid #d9d9d9;
		bottom: 0;
		color: #5b5e60;
		display: block;
		font-size: 18px;
		left: 0;
		padding: 10px;
		position: absolute;
		right: 0;
		text-align: center;
		a{
			color: #5b5e60;
		}
		.footer-link{
			margin-bottom: 0;
		}
	}

	.slide-open{
		overflow-x:hidden;
		.site{
			left: 270px;
		}
		.widget-area{
			.box-shadow (1px 0px 5px #bbb);
			left: 0;
		}
	}
	a.login-link-mobile{
		display: block;
	}
	a.blog-link,
	a.media-release-link{
		font-size: 25px;
		font-weight: 400;
	}

	.search-result,
	.page{
		.mobile-menu-btn{
			display: none;
		}
	}	
}